<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="../assets/Images/todo.png" alt="todo" />
        </div>
        <div id="forms" class="col-sm-6">
          <md-tab-group [selectedIndex]="0">
            <md-tab>
              <template md-tab-label> Sign In </template>
              <template md-tab-content>
                <br>
                <app-signin></app-signin>
                <br>
              </template>
            </md-tab>
            <md-tab>
              <template md-tab-label>
                Sign Up
              </template>
              <template md-tab-content>
                <br>
                <app-signup></app-signup>
                <br>
              </template>
            </md-tab>
          </md-tab-group>
        </div>
    </div>
</div>
