#forms {
  background-color: orchid;
}
img {
  height: 100%;
  width: 100%;
  margin: 0 0;
}
div .row {
  height: 70vh;
  margin: 15vh auto;
  background-color: orchid;
}
div .col-sm-6 {
  height: 70vh;
}
/*not working*/
.label {
  font-weight: bold !important;
  font-size: 18px !important;
  color: white !important;
}