<md-card>
    <md-card-title>
        <h1>{{title}}</h1>
        <div id="user">
            <button md-raised-button color="warn" (click)="SignOut()"> 
                Sign Out 
            </button>
        </div>
    </md-card-title>

    <md-input #inputTask
        [hidden]="!show" 
        dividerColor="primary" 
        placeholder="Enter new task" 
        required 
        (keyup.enter)="checker(inputTask)">
    </md-input>

    <ul *ngIf="item">
        <li *ngFor = "let task of item | async; let i=index">
            <md-card-content>
                <div id="todo"> {{task.index }} </div>
                <div id="btnz">
                    <button md-mini-fab class="md-primary" color="accent" (click)="editTask(task.index, task.$key, inputTask)">
                        <i class="material-icons" color="accent">mode_edit</i>
                    </button>
                    <button md-mini-fab class="md-primary dlt" color="warn" (click)="dltTask(task.$key, task.index)">
                        <i class="material-icons" color="warn">delete</i>
                    </button>
                </div>
            </md-card-content>
            <hr>
        </li>
    </ul>

    <md-card-actions>
        <button md-fab class="md-primary addd" color="primary" (click)="focusedDisplay(inputTask)">
            <i class="material-icons" color="primary">add</i>
        </button>
    </md-card-actions>
</md-card>
<div>
    <h1> State Management </h1>
    <h3> Current State of Task: {{ state$ | async | json }} </h3>
    <h3> Current State of User: {{ user$ | async | json }} </h3>
</div>