md-card {
    width: 50%;
    margin: 5px auto;
}
md-card-title {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    background-color: rebeccapurple;
    color: white;
    font-weight: bolder;
    padding: 15px 0;
}
#user button {
  float: right;
}
md-input {
    width: 50% !important;
    margin: 20px 2px 20px 23% !important;
    padding: 5px;
}
#todo {
    width: 50%;
    font-size: 18px;
    text-transform: capitalize;
}
#btnz {
    width: 14%;
}
md-card-content div {
    display: inline-flex;
    vertical-align: middle;
    margin-left: 10% !important;
}
md-card-content button {
    margin-left: 12% !important;
}
li {
    list-style: none;
    margin: 3px !important;
}
md-card-actions {
    margin: 5px auto !important;
    width: 56px;
    height: 56px;
    
}

@media screen and (max-width: 544px) {
    md-card {
        width: 100%;
        margin: auto;
    }
    md-input {
        width: 100% !important;
        margin: 0 auto;
        padding: 2px 2px;
    }
    .col-sm-2 button {
        height: 50%;
        width: 30%;
        font-size: 12px;   
    }
    .list-group-item .row .col-sm-2 {
        display: inline;
    }
}
@media screen and (min-width: 544px){
    md-card {
        width: 100%;
        margin: auto;
    }
     md-input {
        margin: 0 auto;
        padding: 2px 2px;
    }
 }
@media screen and (min-width: 768px){ 
    md-card {
        width: 80%;
        margin: 5px auto;
    }
}
@media screen and (min-width: 992px){ 
   md-card {
        width: 70%;
        margin: 5px auto;
    }
}
@media screen and (min-width: 1200px){
   md-card {
        width: 60%;
        margin: 5px auto;
    }
 }
[hidden] { display: none !important;}
