<md-card>
    <md-card-title>
        <h1>{{title}}</h1>
        <div id="user">
            <button md-raised-button color="warn" (click)="SignOut()"> Sign Out </button>
        </div>
    </md-card-title>

    <md-input #inputTask
        [hidden]="!show" 
        dividerColor="primary" 
        placeholder="Enter new task" 
        required 
        autofocus
        [(ngModel)] = "newTask" 
        (keyup.enter)="checker()">
    </md-input>

    <ul *ngIf="item">
        <li *ngFor = "let task of item | async; let i=index">
            <md-card-content>
                <div id="todo"> {{task.index }} </div>
                <div id="btnz">
                    <button md-mini-fab class="md-primary" color="accent" (click)="editTask(task.index,task.$key, inputTask)">
                        <md-icon  color="accent"> edit </md-icon>
                    </button>
                    <button md-mini-fab class="md-primary dlt" color="warn" (click)="dltTask(task.$key)">
                        <md-icon color="warn"> delete </md-icon>
                    </button>
                </div>
            </md-card-content>
            <hr>
        </li>
    </ul>

    <md-card-actions>
        <button md-fab class="md-primary addd" color="primary" (click)="show = true">
            <md-icon color="primary"> add </md-icon>
        </button>
    </md-card-actions>
</md-card>