<md-card>
    <md-card-title>
        <h1>{{title}}</h1>
    </md-card-title>

    <md-input #inputTask
        *ngIf="show" 
        dividerColor="primary" 
        placeholder="Enter new task" 
        required 
        autofocus
        [(ngModel)] = "newTask" 
        (keyup.enter)="checker()">
    </md-input>

    <ul *ngIf="taskList">
        <li *ngFor = "let task of taskList; let i=index">
            <md-card-content>
                <div id="todo"> {{task}} </div>
                <div id="btnz">
                    <button md-mini-fab class="md-primary" color="accent" (click)="editTask(task,i)">
                        <md-icon  color="accent"> edit </md-icon>
                    </button>
                    <button md-mini-fab class="md-primary dlt" color="warn" (click)="dltTask(i)">
                        <md-icon color="warn"> delete </md-icon>
                    </button>
                </div>
            </md-card-content>
            <hr>
        </li>
    </ul>

    <md-card-actions>
        <button md-fab class="md-primary" color="primary" (click)="show = true">
            <md-icon color="primary"> add </md-icon>
        </button>
    </md-card-actions>
</md-card>
