<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="../assets/Images/todo.png" alt="todo" />
        </div>
        <div id="forms" class="col-sm-6">
            <nav>
                <ul> 
                    <li><a [routerLink]="['signin']">Log In</a></li> 
                    <li><a [routerLink]="['signup']">Join Us</a></li> 
                </ul> 
            </nav>
        
            <router-outlet></router-outlet>
        </div>
    </div>
</div> 

<md-tab-group [selectedIndex]="1">
  <md-tab>
    <template md-tab-label> Sign In </template>
    <template md-tab-content>
      <br>
      <app-signin></app-signin>
      <br>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>
      <md-icon>thumb_down</md-icon> Sign Up
    </template>
    <template md-tab-content>
      <br>
      <app-signup></app-signup>
      <br>
    </template>
  </md-tab>
</md-tab-group>